.loading-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
}

.spinner {
  font-size: 4rem;
  color: white;
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to{transform: rotate(360deg);}
}
